<div id="new-account">
        <h2>Create New Account</h2>
        <form [formGroup]="createFormGroup">
            <div class="form-row">
              <div class="form-group col-md-4">
                <label for="accountName">Account Name</label>
                <input type="text" class="form-control" formControlName="accountName" name="accountName" placeholder="Account Name">
              </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="balance">Balance</label>
                  <input type="number" class="form-control" formControlName="balance" name="balance" placeholder="Balance">
                </div>
            </div>
            <button type="submit" class="btn btn-primary mr-3" [disabled]="!createFormGroup.valid" (click)="create()">Create</button>
            <button type="button" class="btn btn-light" (click)="goBack()">Back</button>
          </form>
    </div>