<div id="new-wallet">
    <h3>Create New Wallet</h3>
    <form [formGroup]="createFormGroup">
      <div class="form-row">
        <div class="form-group col-md-4">
            <select formControlName="accountNumber" name="accountNumber" class="custom-select custom-select-md">
                <option value="">Select an account</option>
                <option [value]="selected.accountNumber" *ngFor="let selected of account">{{selected.accountNumber}}</option>
            </select>
        </div>
      </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <input type="text" class="form-control" formControlName="description" name="description" placeholder="Wallet Name">
          </div>
        </div>
        <button type="submit" class="btn btn-primary mr-3" [disabled]="!createFormGroup.valid" (click)="createNew()">Create</button>
        <button type="button" class="btn btn-light" (click)="goBack()">Back</button>
      </form>
  </div>