#detail{
    margin-top: 50px !important;
  }
  /* label{
    margin-right: 25px;
  }
  input{
    height: 20px;
    width: 150px;
    margin: 5px;
  }
  button {
      margin-top: 50px;
      font-family: Arial;
      background-color: #eee;
      border: none;
      padding: 5px 10px;
      border-radius: 4px;
      cursor: pointer;
      cursor: hand;
    }
    button:hover {
      background-color: #cfd8dc;
    }
    button:disabled {
      background-color: #eee;
      color: #ccc;
      cursor: auto;
    } */