<nav *ngIf="customerNumber" class="navbar navbar-default navbar-expand-xl navbar-light">
	<div class="navbar-header d-flex col">
		<a class="navbar-brand" routerLink="/"><i class="fa fa-cube"></i>e<b>Bank</b></a>  		
		<button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle navbar-toggler ml-auto">
			<span class="navbar-toggler-icon"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
	</div>
	<!-- Collection of nav links, forms, and other content for toggling -->
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
		<ul class="nav navbar-nav">
			<li class="nav-item" [routerLinkActive]="'active'"><a routerLink="/customer/dashboard" class="nav-link">Dashboard</a></li>
			<li class="nav-item" [routerLinkActive]="'active'"><a routerLink="/account/list" class="nav-link">Account</a></li>
			<li class="nav-item" [routerLinkActive]="'active'"><a routerLink="/transaction/list" class="nav-link">Transaction</a></li>
		</ul>
		<form class="navbar-form form-inline">
			<div class="input-group search-box">								
				<input type="text" id="search" class="form-control" placeholder="Search..">
				<span class="input-group-addon"><i class=" fa fa-search"></i></span>
			</div>
		</form>
		<ul class="nav navbar-nav navbar-right ml-auto">
			<li class="nav-item dropdown">
				<a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action">
					<img src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" class="avatar" alt="Avatar">{{customer.firstName}} {{customer.lastName}}<b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="" routerLink="/customer/profile"  class="dropdown-item"><i class="fa fa-user-o"></i> Profile</a></li>
					<li class="divider dropdown-divider"></li>
					<li><a href="" class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a></li>
				</ul>
			</li>
		</ul>
	</div>
</nav>
<router-outlet></router-outlet>