<div id="detail">
<div *ngIf="Customer">
    <h2 style="text-transform: capitalize">Details Name {{Customer.firstName}}</h2>
    <div class="form-row">
        <div class="form-group col-md-2">
          <label for="firstName">First Name</label>
          <input type="email" class="form-control" [(ngModel)]="Customer.firstName" name="firstname" placeholder="Firstname">
        </div>
        <div class="form-group col-md-2">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" [(ngModel)]="Customer.lastName" name="lastname" placeholder="Lastname">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="birthDate">Birth Date</label>
          <input type="date" class="form-control" [(ngModel)]="Customer.birthDate" name="birthdate" placeholder="mm/dd/yyyy">
        </div>
      </div>
    <div>
    <div class="mt-5">
      <button type="submit" class="btn btn-primary mr-3" (click)="updateCustomer()">Update</button>
      <button type="button" class="btn btn-light" (click)="goBack()">Back</button>
    </div>
  </div>
</div>