<div id="detail-wallet">
    <h3>Detail Wallet</h3>
    <form>
        <div class="form-row">
          <div class="form-group col-md-4">
            <input type="text" class="form-control" name="accountNumber" placeholder="Wallet Name">
          </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
              <input type="number" class="form-control"  name="amount" placeholder="Amount">
            </div>
        </div>
        <button type="submit" class="btn btn-primary mr-3">Update</button>
        <button type="button" class="btn btn-light" (click)="goBack()">Back</button>
      </form>
  </div>