<div id="customers">
<button type="submit" class="btn btn-primary mb-3" routerLink="/new">New Customer</button>
<h2>List Customers</h2>
<div class="col-md-8">
<table class="table table-hover table-sm table-responsive-md">
  <caption>List of customers</caption>  
  <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">BirthDate</th>
        <th scope="col">Opsi</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers">
        <th scope="row">{{customer.customerNumber}}</th>
        <td>{{customer.firstName}}</td>
        <td>{{customer.lastName}}</td>
        <td>{{customer.birthDate}}</td>
        <td>
          <div class="btn">
            <button routerLink="/detail/{{customer.customerNumber}}">Edit</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>