<div class="row grid-columns">
<div class="col-md-7">
                <div>
                    <div id="trans">
                        <div>
                            <button type="submit" class="btn btn-primary mb-3 mr-3" routerLink="/transaction/topup">Top-Up</button>
                            <button type="submit" class="btn btn-primary mb-3 mr-3" routerLink="/transaction/transfer">Transfer</button>
                            <button type="submit" class="btn btn-primary mb-3 mr-3" routerLink="/transaction/withdraw">Withdraw</button>
                            <div class="float-md-right">
                                <h4 class="mr-5 mb-0">Transactions</h4>
                            </div>
                        </div>
                        <div class="col pl-0">
                            <table class="table table-hover table-sm table-responsive-md">
                                <thead>
                                    <tr>
                                        <th scope="col">No.</th>
                                        <th scope="col">Transaction Type</th>
                                        <th scope="col">Account Debit</th>
                                        <th scope="col">Account Credit</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col">Opsi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Credit</td>
                                        <td>-</td>
                                        <td>2221034</td>
                                        <td>Rp. 400.000.00</td>
                                        <td>
                                            <button class="btn">
                                                <i class="fa fa-pencil-square-o"></i>
                                            </button>
                                            <button class="btn">
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Debit</td>
                                        <td>1568240</td>
                                        <td>-</td>
                                        <td>Rp. 120.000.00</td>
                                        <td>
                                            <button class="btn">
                                                <i class="fa fa-pencil-square-o"></i>
                                            </button>
                                            <button class="btn">
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                        </td>
                                        </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            </div>