<div id="withdraw">
  <h3>Withdraw</h3>
    <form>
        <div class="form-row">
          <div class="form-group col-md-4">
            <select class="custom-select" name="" id="">
                <option value="0">Select Account</option>
                <option value="1">12141414</option>
                <option value="2">23526236</option>
                <option value="3">23542532</option>
                <option value="4">43622626</option>
            </select>
          </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
              <input type="number" class="form-control" name="" placeholder="Amount">
            </div>
        </div>
       
        <button type="submit" class="btn btn-primary mr-3">Withdraw</button>
        <button type="button" class="btn btn-light" (click)="goBack()">Back</button>
      </form>
</div>