<div class="row grid-columns">
    <div class="col-md-7">
        <div>
            <div id="accounts">
                <div>
                    <button type="submit" class="btn btn-primary btn-sm ml-3 mb-3" routerLink="/account/new">New Account</button>
                    <div class="float-md-right">
                        <h4 class="mr-5 mb-0">Accounts</h4>
                    </div>
                </div>
                <div class="col pl-0">
                    <table class="table table-hover table-sm table-responsive-md">
                        <thead>
                            <tr>
                                <th scope="col">No. Account</th>
                                <th scope="col">Account Name</th>
                                <th scope="col">Opened</th>
                                <th scope="col">Balance</th>
                                <th scope="col">Opsi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of Accounts">
                                <th scope="row">{{row.accountNumber}}</th>
                                <td>{{row.accountName}}</td>
                                <td>{{row.openDate | date}}</td>
                                <td>{{row.balance | currency:'Rp. ' }}</td>
                                <td>
                                    <button class="btn" routerLink="/account/detail/{{row.accountNumber}}" [routerLinkActive]="['active']">
                                        <i class="fa fa-pencil-square-o"></i>
                                    </button>
                                    <button class="btn" (click)="delete(row.accountNumber)">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div>
            <div id="accounts">
                <div>
                    <button type="submit" class="btn btn-primary btn-sm ml-3 mb-3" routerLink="/wallet/new">New Wallet</button>
                    <div class="float-md-right">
                        <h4 class="mr-5 mb-0">Wallets</h4>
                    </div>
                </div>
                <div class="col pl-0">
                    <table class="table table-hover table-sm table-responsive-md">
                        <thead>
                            <tr>
                                <th scope="col">Wallet ID</th>
                                <th scope="col">Description</th>
                                <th scope="col">Created</th>
                                <th scope="col">Opsi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="col">000000</th>
                                <th scope="col">Account Name</th>
                                <th scope="col">0098</th>
                                <th scope="col">Opsi</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>